@font-face {src: url("Nunito-Regular.ttf");
    font-family: Nunito-Regular;}

@font-face {src: url("Nunito-ExtraLight.ttf");
    font-family: Nunito-ExtraLight;}

@font-face {src: url("Nunito-Bold.ttf");
    font-family: Nunito-Bold;}

@font-face {src: url("Nunito-SemiBold.ttf");
    font-family: Nunito-SemiBold;}

@font-face {src: url("Nunito-Black.ttf");
    font-family: Nunito-Black;}

@font-face {src: url("Nunito-Light.ttf");
        font-family: Nunito-Light;}

@font-face {src: url("BebasNeue-Regular.ttf");
    font-family: BebasNeue-Regular;} 
        
@font-face {src: url("KaushanScript-Regular.ttf");
    font-family: KaushanScript-Regular;} 

/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/

* {margin: 0;
    padding: 0;}

html{font-size: 10px;}

body {margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
align-items: center;}

.portada_index {
display: flex;
box-sizing: border-box;
background: url(frontal_iglesiasana_desktop.svg) no-repeat top;
background-size: cover;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;}

.logo_frontal_desktop {background: none;}

#imagen_logo_frontal_desktop {
width: 100vh;}

.logo_frontal_mobil {display: none;}
    




.cabecera img {padding: 0;
display: flex;
justify-content: center;
align-items: center ;}

img:not(#imagen-logo) {display: block;
        margin: .5rem auto -2rem auto;
        padding: .75rem 0 0 0;}
    
ul {display: block;
    margin: 0 auto;}
    
.boton_menu {text-align: center;}
    
li {display: block;
        box-sizing: border-box;
        margin: 1.5rem 0;
        padding: 0rem 0 0 0rem;
        width: 30rem;
        height: 6rem;
        text-align:left;
        border-radius: 1rem;
        background-image: linear-gradient(45deg, #0aa, #0ef);}
    
li:hover {background-image: linear-gradient(90deg #eee, #fff);
        color: #000;
        cursor: pointer;}
    
a:not(.sermones) {display: block;
        text-decoration: none;
        color: #fff;
        padding: 0 0 .5rem 0;
        font-family: Nunito-Black;
        letter-spacing: .25rem;
        font-size: 1.2rem;}

.sermones {
    background-image: linear-gradient(45deg, #fff, #0aa, #fff);
    box-sizing: border-box;
    margin: .5rem auto;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 0 .5rem;}

.sermones a {font-size: 1.2rem;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: .5rem 0 0 0;
    font-family: Nunito-Black;
    letter-spacing: ;}

#texto-sermones {color: #000;
margin: 1rem 1rem;}

.bandeja_recursos {display: none;}

.bandeja_recursos.active {display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
transition: 2s;}

/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/

@media (max-width: 850px) {

body {margin: 0;
padding: 0;
display: flex;
position: relative;}

.portada_index {background: url(frontal_iglesiasana_mobil.svg) no-repeat top;
background-size: cover;
height: 100vh;
width: 100vw;}

.logo_frontal_desktop {display: none;}

.logo_frontal_mobil {
    display: block;
    background: none;}
    
#imagen_logo_frontal_mobil {
width: 30vh;
color: #000;}




.cabecera {display:flex;
flex-direction: column;
margin: 0 auto;
align-items: center;
justify-content: center;}

ul li div a {display: block;}

.cabecera img {padding: 0;}

img:not(#imagen-logo) {display: block;
        margin: .5rem auto -2rem auto;
        padding: .75rem 0 0 0;}
    
ul {display: block;
    margin: 0 auto;}
    
.boton_menu {text-align: center;}
    
li {display: block;
        box-sizing: border-box;
        margin: 1.5rem 0;
        padding: 0rem 0 0 0rem;
        width: 30rem;
        height: 6rem;
        text-align:left;
        border-radius: 1rem;
        background-image: linear-gradient(45deg, #0aa, #0ef);}
    
li:hover {
        background-image: linear-gradient(90deg #eee, #fff);
        color: #000;
        cursor: pointer;}
    
a:not(.sermones) {display: block;
        text-decoration: none;
        color: #fff;
        padding: 0 0 .5rem 0;
        font-family: Nunito-Black;
        letter-spacing: .25rem;
        font-size: 1.2rem;}

.sermones {
    background-image: linear-gradient(45deg, #fff, #0aa, #fff);
    box-sizing: border-box;
    margin: .5rem auto;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 0 .5rem;}

.sermones a {font-size: 1.2rem;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: .5rem 0 0 0;
    font-family: Nunito-Black;
    letter-spacing: ;}

#texto-sermones {color: #000;
margin: 1rem 1rem;}

.bandeja_recursos {display: none;}

.bandeja_recursos.active {display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
transition: 2s;}

}