@font-face {src: url("Nunito-Regular.ttf");
    font-family: Nunito-Regular;}

@font-face {src: url("Nunito-ExtraLight.ttf");
    font-family: Nunito-ExtraLight;}

@font-face {src: url("Nunito-Bold.ttf");
    font-family: Nunito-Bold;}

@font-face {src: url("Nunito-SemiBold.ttf");
    font-family: Nunito-SemiBold;}

@font-face {src: url("Nunito-Black.ttf");
    font-family: Nunito-Black;}

@font-face {src: url("Nunito-Light.ttf");
        font-family: Nunito-Light;} 

* { margin: 0;
    padding: 0;
    background: none;
    color: #ddd;}

html {font-size: 10px;}

body {background:#000;
    padding: .05rem;
    margin: 0 auto;
    width: 37%;}

section { max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    text-align: justify;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Nunito-ExtraLight;}

h1 {font-size: 3.5rem;
    margin: 0 0 3rem 0;
    font-family: Nunito-Bold;
    color: #0ef;
    line-height: 4.5rem;
    border-radius: .5rem;
    border-width: .05rem;
    border: solid;
    padding: 1rem;
    text-align: center;
    line-height: 4rem;}
    
h2 {display: block;
    font-size: 2.5rem;
    width: 85%;
    margin: 0 0 3rem 0;
    font-family: Nunito-Bold;
    color: #0ef;
    line-height: 3.5rem;
    border-radius: 1rem;
    border-width: .05rem;
    border: solid;
    padding: 1rem;
    text-align: center;}

audio {margin: 0 0 3rem 0;}

p { color: #fff;
    margin: 0 auto 2.5rem auto;
    font-family: Nunito-Light;
    font-size: 1.75rem;
    line-height: 2.3rem;}

b { margin: 0 0 2.5rem 0;
    color: #ddd;
    font-family: Nunito-Bold;
    font-size: 1.75rem;
    line-height: 2.3rem;}

em {margin: 0 0 2.5rem 0;
    text-decoration: none;
    font-style: normal;
    font-family: Nunito-Black;
    font-size: 1.75rem;
    color: #0ef;
    line-height: 2.3rem;}

ul {margin: 0 auto 2.5rem 3rem;
    font-family: Nunito-Regular;
    line-height: 2.3rem;}

@media (max-width:500px) {
    p,b,em,ul {
        font-size: 1.6rem;
        line-height: 2rem;}

.punto {padding: 0 1.5rem;}

    body {padding: .5rem;
        margin: 0 auto;
        width: 95%;}

}
    
   