@font-face {src: url("Nunito-Regular.ttf");
    font-family: Nunito-Regular;}

@font-face {src: url("Nunito-ExtraLight.ttf");
    font-family: Nunito-ExtraLight;}

@font-face {src: url("Nunito-Bold.ttf");
    font-family: Nunito-Bold;}

@font-face {src: url("Nunito-SemiBold.ttf");
    font-family: Nunito-SemiBold;}

@font-face {src: url("Nunito-Black.ttf");
    font-family: Nunito-Black;}

@font-face {src: url("Nunito-Light.ttf");
        font-family: Nunito-Light;}

/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


* {margin: 0;
    padding: 0;}

html{font-size: 10px;}

body {margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #000;}

.icono_mobil {display: none;}
    
.cabecera {display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;}

img {
    margin: 0 0 0 0;}

ul {display: inline-block;}

li {display: inline-block;}

a {text-decoration: none;
    color: #fff;
    font-family: Nunito-light;
    letter-spacing: .25rem;
    font-size: 1.2rem;
    margin: 2rem;}

#recurso_parent {
    display: inline-block;
    position: relative;}

#bandeja-recursos {
    position: absolute;
    top: 4rem;
    left: 0rem;
    display: inline-block;
    background: red;
    z-index: 100;}


/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


#logo {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100vh;
    position: relative;
    top: 0px;}



/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


@media (max-width: 800px) {


.cabecera {display:flex;
    -ms-flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;}

ul li div a {display: block;}

#texto_logo1 {color: white;
    font-family: Nunito-Bold;
    font-size: 3.5rem;
    margin: 1rem 0 0 0;}

#texto_logo2 {color: white;
    font-family: Nunito-ExtraLight;
    font-size: 1rem;
    letter-spacing: 1rem;
    margin: 1rem 0 0 0;}

.cabecera img {padding: 0;}

    img {display: block;
        margin: 1rem auto -2rem auto;}
    
    ul {display: block;
        margin: 0 auto;        }
    
    li {display: block;
        box-sizing: border-box;
        margin: 1.5rem;
        padding: .5rem 0;
        width: 20rem;
        height: 7rem;
        text-align:center;
        border-radius: 1rem;
        background-image: linear-gradient(45deg, #222, #aaa, #666);}
    
    li:hover {
        background-image: linear-gradient(90deg #eee, #fff);
        color: #000;}
    
    a:not(.sermones) {display: block;
        text-decoration: none;
        color: #fff;
        padding: 0 0 .5rem 0;
        font-family: Nunito-Regular;
        letter-spacing: .25rem;
        font-size: 1.2rem;}

.sermones {
    background-image: linear-gradient(45deg, #000, #888, #000);
    border-radius: 1rem;
    height: 3.5rem;}

.sermones a {
    padding: 0;
    margin: .5rem 0 0 0;
    font-family: Nunito-Bold;
}




}

