@font-face {src: url("Nunito-Regular.ttf");
    font-family: Nunito-Regular;}

@font-face {src: url("Nunito-ExtraLight.ttf");
    font-family: Nunito-ExtraLight;}

@font-face {src: url("Nunito-Bold.ttf");
    font-family: Nunito-Bold;}

@font-face {src: url("Nunito-SemiBold.ttf");
    font-family: Nunito-SemiBold;}

@font-face {src: url("Nunito-Black.ttf");
    font-family: Nunito-Black;}

@font-face {src: url("Nunito-Light.ttf");
        font-family: Nunito-Light;}

/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


* {margin: 0;
    padding: 0;}

html{font-size: 10px;}

body {margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #000;}

.ícono_móbil {display: none;}
    
.cabecera {display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;}

img {
    margin: 0 0 0 0;}

ul {display: inline-block;}

li {display: inline-block;}

a {text-decoration: none;
    color: #fff;
    font-family: Nunito-light;
    letter-spacing: .25rem;
    font-size: 1.2rem;
    margin: 2rem;}

#recurso_parent {
    display: inline-block;
    position: relative;}

#bandeja-recursos {
    position: absolute;
    top: 4rem;
    left: 0rem;
    display: inline-block;
    background: red;
    z-index: 100;}


/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


#logo {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100vh;
    position: relative;
    top: 0px;}



/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


@media (max-width: 800px) {



    ul li div a {
        display: block;
    }
}

