@font-face {src: url("Nunito-Regular.ttf");
font-family: Nunito-Regular;}
@font-face {src: url("Nunito-ExtraLight.ttf");
font-family: Nunito-ExtraLight;}
@font-face {src: url("Nunito-Bold.ttf");
font-family: Nunito-Bold;}
@font-face {src: url("Nunito-SemiBold.ttf");
font-family: Nunito-SemiBold;}
@font-face {src: url("Nunito-Black.ttf");
font-family: Nunito-Black;}
@font-face {src: url("Nunito-Light.ttf");
font-family: Nunito-Light;}
@font-face {src: url("BebasNeue-Regular.ttf");
font-family: BebasNeue-Regular;} 
@font-face {src: url("KaushanScript-Regular.ttf");
font-family: KaushanScript-Regular;} 
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
* 
{margin: 0;
padding: 0;}
html
{font-size: 10px;}
body
{margin: 0;
display: flex;
flex-direction: column;
background: #fff;
align-items: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.cabecera
{display: flex;
flex-direction: row;
width: 100%;
height: 10vh;
box-sizing: border-box;
background: rgba(0, 122, 255,.9);
align-items: center;
padding: 1vh 3vh;
position: fixed;
top: 0;
left: 0;
z-index: 100;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
#imagen_logo_superior
{width: 25rem;
position: relative;
bottom: -.5vh;
margin: 0;}
/*-----------------------------*//*-----------------------------*/
.nav 
{display: flex;
flex-direction: row;
flex-grow: 1;
padding: 1rem;}
/*-----------------------------*//*-----------------------------*/
.nav_ul
{display: flex;
flex-direction: row;
list-style-type: none;
cursor: pointer;
margin: 0 0 0 auto;}
/*-----------------------------*//*-----------------------------*/
li 
{text-decoration: none;
font-family: Nunito-Bold;
letter-spacing: .25rem;
padding: 1rem 2rem;
margin: 0;}

li:hover
{background: #002bff;}
/*-----------------------------*//*-----------------------------*/
a 
{text-decoration: none;
color: #fff;
font-size: 1rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/ 
.bandeja_recursos
{display: none;
background: rgba(0, 122, 255, .9);}

.bandeja_recursos.active
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
position: absolute;
top: 10vh;}
/*-----------------------------*//*-----------------------------*/
.bandeja_recursos > li 
{text-decoration: none;
color: #000;
letter-spacing: 0rem;
padding: 1rem 2rem;
margin: 0;
font-family: Nunito-Bold;}  
/*-----------------------------*//*-----------------------------*/
.bandeja_recursos > a 
{text-decoration: none;
color: #000;
letter-spacing: 0rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.bandeja_ideal_y_relevante
{display: none;}

.bandeja_ideal_y_relevante.active
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
position: relative;
top: 0;
overflow: auto;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada_index 
{display: flex;
box-sizing: border-box;
background: none;
background-size: cover;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
position: relative;
margin: 0 0 25vh 0;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_desktop
{background: none;
position: relative;
top: 0;}
/*-----------------------------*//*-----------------------------*/
#imagen_logo_frontal_desktop 
{width: 100vh;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_mobil 
{display: none;}
/*-----------------------------*//*-----------------------------*/
.bloque_informacion 
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
align-items: center;
max-width: 500px;
height: 100vh;
background: #eee;
padding: 4rem;}
/*-----------------------------*//*-----------------------------*/
h2
{font-family: Nunito-Black;
font-size: 4rem;
margin: 4rem 0;
text-align: center;}
/*-----------------------------*//*-----------------------------*/
p
{font-family: Nunito-Black;
font-size: 1.75rem;
text-align: justify;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.portada
{display: flex;
flex-direction: column;
box-sizing: border-box;
background: none;
height: 100vh;
width: 50vh;
justify-content: space-around;
align-items: center;
margin: 10vh auto;
padding: 3vh 0;
position: relative;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/ 
.logo_superior 
{position: relative;
justify-content: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.logo_central_portada
{display: flex;
background:#007bff;
width: 40vh;
height: 40vh;
border-radius: 50%;
justify-content: center;
align-self: center;
position: relative;}
/*-----------------------------*//*-----------------------------*/ 
#imagen_logo_central_portada
{width: 25vh;
align-self: center;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_1 
{color:#000;
text-align: center;
font-family: KaushanScript-Regular;
font-size: 8vh;}
/*-----------------------------*//*-----------------------------*/
.texto_logo_2
{color:#000;
font-family: KaushanScript-Regular;
font-size: 6.5vh;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_3
{color:#007bff;
font-family: BebasNeue-Regular;
font-size: 2.5vh;
text-align: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada_articulo
{background-image:linear-gradient(180deg, #007bff, #0000ff);
display: flex;
flex-direction: column;
color: #fff;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
position: relative;
align-self: center;
margin: 0 0 4vh 0;}
/*-----------------------------*//*-----------------------------*/ 
.portada_articulo> h1:not(:nth-child(2))
{color: #fff;
font-size: 5vh;
font-family: Nunito-Black;
letter-spacing: 1vh;}
/*-----------------------------*//*-----------------------------*/ 
.portada_articulo> h1
{color: #fff;
font-size: 3vh;
font-family: Nunito-ExtraLight;
letter-spacing: .5vh;
word-spacing: .5vh;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.bloque_informacion 
{display: flex;
flex-direction: column;
box-sizing: border-box;
align-self: center;
justify-content: center;
align-items: center;
max-width: 500px;
height: 100vh;
background: #aaa;
border-radius: 2vh;
padding: 4rem;
margin: 4rem 0;}
/*-----------------------------*//*-----------------------------*/ 
.punto_articulo 
{background-image:linear-gradient(180deg, #007bff, #0000ff);
display: flex;
flex-direction: column;
color: #fff;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
position: relative;
align-self: center;
margin: 0 0 4vh 0;}
/*-----------------------------*//*-----------------------------*/ 
.punto_articulo * 
{color: #fff;}
/*-----------------------------*//*-----------------------------*/ 
.punto 
{max-width: 450px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
margin: auto;
text-align: justify;
justify-content: center;
align-items: center;
align-content: center;
font-family: Nunito-ExtraLight;}
/*-----------------------------*//*-----------------------------*/ 
.cantico 
{text-align: center;
max-width: 500px;
align-self: center;}
/*-----------------------------*//*-----------------------------*/ 
h1 
{font-size: 2.5rem;
margin: 0 0 3rem 0;
font-family: Nunito-Black;
box-sizing: border-box;
color: #000;
padding: 1rem;
width: 90%;
text-align: center;
line-height: 4rem;}
/*-----------------------------*//*-----------------------------*/ 
h2
{display: block;
box-sizing: border-box;
font-size: 2.5rem;
margin: 0 0 3rem 0;
font-family: Nunito-Black;
color: #000;
line-height: 3.5rem;
padding: 1rem;
text-align: center;}
/*-----------------------------*//*-----------------------------*/ 
h3
{font-size: 1.75rem;
font-family: Nunito-Black;
color: #000;
text-align: center;}
/*-----------------------------*//*-----------------------------*/ 
audio
{margin: 0 0 3rem 0;}
/*-----------------------------*//*-----------------------------*/ 
p
{color: #222;
margin: 0 auto 2.5rem auto;
font-family: Nunito-ExtraLight;
font-size: 1.75rem;
line-height: 2.3rem;
text-align: justify}
/*-----------------------------*//*-----------------------------*/ 
b
{margin: 0 0 2.5rem 0;
color: #000;
font-family: Nunito-Bold;
font-size: 1.75rem;
line-height: 2.3rem;}
/*-----------------------------*//*-----------------------------*/ 
em
{margin: 0 0 2.5rem 0;
text-decoration: none;
font-style: normal;
font-family: Nunito-Black;
font-size: 1.75rem;
color: #007bff;
line-height: 2.3rem;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
@media (max-width: 450px) {
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
body
{margin: 0;
padding: 0;
width: 100vw;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
:root 
{--altoCabecera: 10vh;
--punto3AltoCabecera: 3vh;
--punto2AltoCabecera: 2vh;
--puntoCero2AltoCabecera: .2vh;}

.cabecera
{display:flex;
flex-direction: row;
margin: 0;
padding: 0;
align-items: center;
height: 10vh;
justify-content: space-between;
position: fixed;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
#imagen_logo_superior
{height: 50%;
position: relative;
bottom: -.5vh;
margin: 0 0 0 10%;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.contenedor_icono_menu
{display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: var(--punto3AltoCabecera);
height: var(--punto3AltoCabecera);
border-radius: .5rem;
cursor: pointer;
padding: var(--puntoCero2AltoCabecera);
background: #fff;
margin: 0 5% 0 0;}
/*---------------------------------------*//*---------------------------------------*/
.icono_menu
{width: 1.2rem;
height: .1rem;
border-radius: .1rem;
background: #007bff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.nav 
{display: none;}

.nav.active
{display: flex;
    flex-direction: column;
position: absolute;
top: 10vh;
left: 0;
right: 0;
padding: 0;
background: rgba(0, 122, 255, .9);}
/*-----------------------------*//*-----------------------------*/
.nav_ul
{display: block;
width: 100vw;
list-style-type: none;
cursor: pointer;
margin: 0 3rem;
padding: 0;
background: none;
position: relative;
left: 0;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
li
{padding: 1rem 0rem;
border-top: solid 1px #fff;
}

li:hover
{background: #0000ff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
a 
{text-decoration: none;
color: #fff;
font-size: 1rem;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.bandeja_recursos
{display: none;
background: none;}

.bandeja_recursos.active
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
position: relative;
top: 0;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.bandeja_recursos > li 
{text-decoration: none;
letter-spacing: 0rem;
padding: .75rem 0;
font-family: Nunito-Bold;
top: 0;
left: 0;}

.bandeja_recursos > li:hover
{text-decoration: none;
background: #007bff;
letter-spacing: 0rem;}
/*-----------------------------*//*-----------------------------*/
.bandeja_recursos > a 
{text-decoration: none;
letter-spacing: 0rem;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.bandeja_ideal_y_relevante
{display: none;}

.bandeja_ideal_y_relevante.active
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
position: relative;
top: 0;
overflow: scroll;
max-height: 35vh;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.portada_index {background: none;
background-size: cover;
height: 90vh;
width: 100vw;
margin: 10vh 0 0 0;
position: relative;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_desktop {display: none;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_mobil {
display: block;
background: none;
position: relative;
top: -10vh;}
/*-----------------------------*//*-----------------------------*/
#imagen_logo_frontal_mobil {
width: 40vh;
color: #000;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada
{display: flex;
flex-direction: column;
box-sizing: border-box;
height: 90vh;
width: 100vw;
justify-content: flex-start;
gap: 1vh;
align-items: center;
margin: 10vh auto 0 auto;
position: relative;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.logo_central_portada
{display: flex;
background:#007bff;
width: 40vh;
height: 40vh;
border-radius: 50%;
justify-content: center;
align-self: center;
position: relative;}
/*-----------------------------*//*-----------------------------*/ 
#imagen_logo_central_portada
{width: 25vh;
align-self: center;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_1 
{color:#000;
text-align: center;
font-family: KaushanScript-Regular;
font-size: 8vh;}
/*-----------------------------*//*-----------------------------*/
.texto_logo_2
{color:#000;
font-family: KaushanScript-Regular;
font-size: 6.5vh;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_3
{color:#007bff;
font-family: BebasNeue-Regular;
font-size: 2.5vh;
text-align: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
p,b,em,ul
{font-size: 1.6rem;
line-height: 2rem;}
/*-----------------------------*//*-----------------------------*/
.punto
{padding: 0 1.5rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
}









