@font-face {src: url("Nunito-Regular.ttf");
font-family: Nunito-Regular;}
@font-face {src: url("Nunito-ExtraLight.ttf");
font-family: Nunito-ExtraLight;}
@font-face {src: url("Nunito-Bold.ttf");
font-family: Nunito-Bold;}
@font-face {src: url("Nunito-SemiBold.ttf");
font-family: Nunito-SemiBold;}
@font-face {src: url("Nunito-Black.ttf");
font-family: Nunito-Black;}
@font-face {src: url("Nunito-Light.ttf");
font-family: Nunito-Light;}
@font-face {src: url("BebasNeue-Regular.ttf");
font-family: BebasNeue-Regular;} 
@font-face {src: url("KaushanScript-Regular.ttf");
font-family: KaushanScript-Regular;} 
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
* 
{margin: 0;
padding: 0;
box-sizing: border-box;}
/*-----------------------------*//*-----------------------------*/
html
{font-size: 10px;}
/*-----------------------------*//*-----------------------------*/
body
{margin: 0;
display: flex;
flex-direction: column;
background: #f5f5f5;
align-items: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.cabecera
{display: flex;
flex-direction: row;
width: 100%;
height: 6rem;
padding: 0;
box-sizing: border-box;
background: rgba(0, 122, 255,.9);
align-items: center;

position: fixed;
top: 0;
left: 0;
z-index: 100;}
/*-----------------------------*//*-----------------------------*/
.logo_superior
{display: flex;
height: 6rem;
padding: 0 1rem;
position: relative;
justify-content: center;
align-items: center;}

.logo_superior:hover
{background: #0072ff;}
/*-----------------------------*//*-----------------------------*/
#imagen_logo_superior
{ height: 3.5rem;
padding: 1vh 3vh;
position: relative;
bottom: -.5vh;}
/*-----------------------------*//*-----------------------------*/
.nav 
{display: flex;
flex-direction: row;
flex-grow: 1;
margin: 0;
align-items: center;}
/*-----------------------------*//*-----------------------------*/
.nav_ul
{display: flex;
flex-direction: row;
list-style-type: none;
cursor: pointer;
margin: 0 0 0 auto;}
/*-----------------------------*//*-----------------------------*/
li 
{display: flex;
    align-items: center;
text-decoration: none;
font-family: Nunito-Bold;
letter-spacing: .25rem;
padding: 1rem 2rem;
margin: 0;
width: 100%;
height: 6rem;}

li:hover
{background: #0072ff;}
/*-----------------------------*//*-----------------------------*/
a 
{text-decoration: none;
color: #fff;
font-size: 1rem;
width: 100%;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/ 
.bandeja_recursos
{display: none;
background: rgba(0, 122, 255, .9);}

.bandeja_recursos.active
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
position: absolute;
top: 6rem;
right: 0;
width: 25rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.bandeja_ideal_y_relevante
{display: none;}

.bandeja_ideal_y_relevante.active
{display: flex;
    box-sizing: border-box;
flex-direction: row;
justify-content: left;
position: relative;
flex-wrap: wrap;
top: 0;
overflow-y: scroll;
max-height: 40rem;
background: rgba(0, 122, 220, .5);}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar
{width: 5%;}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar-track
{background-color: #fff;}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar-thumb
{background-color: #007bff;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada_index 
{display: flex;
box-sizing: border-box;
background: none;
background-size: cover;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
position: relative;
margin: 0 0 25vh 0;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_desktop
{background: none;
position: relative;
top: 0;}
/*-----------------------------*//*-----------------------------*/
#imagen_logo_frontal_desktop 
{width: 100vh;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_mobil 
{display: none;}
/*-----------------------------*//*-----------------------------*/
.bloque_informacion 
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
align-items: center;
max-width: 500px;
height: 100vh;
background: #eee;
padding: 4rem;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.portada
{display: flex;
flex-direction: column;
box-sizing: border-box;
background: none;
height: 100vh;
width: 50vh;
justify-content: space-around;
align-items: center;
margin: 10vh auto;
padding: 3vh 0;
position: relative;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/ 
.logo_superior 
{position: relative;
justify-content: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.logo_central_portada
{display: flex;
background:#007bff;
width: 40vh;
height: 40vh;
border-radius: 50%;
justify-content: center;
align-self: center;
position: relative;}
/*-----------------------------*//*-----------------------------*/ 
#imagen_logo_central_portada
{width: 25vh;
align-self: center;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_1 
{color:#000;
text-align: center;
font-family: KaushanScript-Regular;
font-size: 8vh;}
/*-----------------------------*//*-----------------------------*/
.texto_logo_2
{color:#000;
font-family: KaushanScript-Regular;
font-size: 6.5vh;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_3
{color:#000;
font-family: BebasNeue-Regular;
font-size: 3vh;
text-align: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada_articulo
{background-image:linear-gradient(180deg, #007bff, #0000ff);
display: flex;
flex-direction: column;
color: #fff;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
position: relative;
align-self: center;
margin: 0 0 4vh 0;}
/*-----------------------------*//*-----------------------------*/ 
.portada_articulo> h1:not(:nth-child(2))
{color: #fff;
font-size: 5vh;
font-family: Nunito-Black;
letter-spacing: 1vh;}
/*-----------------------------*//*-----------------------------*/ 
.portada_articulo> h1
{color: #fff;
font-size: 3vh;
font-family: Nunito-ExtraLight;
letter-spacing: .5vh;
word-spacing: .5vh;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
h1 
{font-size: 2.5rem;
margin: 0 0 3rem 0;
font-family: Nunito-Black;
box-sizing: border-box;
color: #000;
padding: 1rem;
width: 90%;
text-align: center;
line-height: 4rem;}
/*-----------------------------*//*-----------------------------*/ 
h2
{display: block;
box-sizing: border-box;
font-size: 2.5rem;
margin: 0 0 3rem 0;
font-family: Nunito-Black;
color: #000;
line-height: 3.5rem;
padding: 1rem;
text-align: center;}
/*-----------------------------*//*-----------------------------*/ 
h3
{display: block;
box-sizing: border-box;
font-size: 1.75rem;
margin: 0 0 2.5rem 0;
font-family: Nunito-Black;
color: #000;
line-height: 2.5rem;
padding: 1rem;
text-align: center;}
/*-----------------------------*//*-----------------------------*/ 
h4
{display: block;
box-sizing: border-box;
font-size: 1.75rem;
margin: 0 0 0 0;
font-family: Nunito-ExtraLight;
color: #000;
line-height: 2.5rem;
padding: 1rem;
text-align: center;}
/*-----------------------------*//*-----------------------------*/ 
p
{color: #222;
margin: 0 0 2.3rem 0;
font-family: Nunito-ExtraLight;
font-size: 1.75rem;
line-height: 2.3rem;
text-align: justify}
/*-----------------------------*//*-----------------------------*/ 
b
{margin: 0 0 2.5rem 0;
color: #000;
font-family: Nunito-Bold;
font-size: 1.75rem;
line-height: 2.3rem;}
/*-----------------------------*//*-----------------------------*/ 
em
{margin: 0 0 2.5rem 0;
text-decoration: none;
font-style: normal;
font-family: Nunito-Black;
font-size: 1.75rem;
color: #007bff;
line-height: 2.3rem;}
/*-----------------------------*//*-----------------------------*/ 
audio
{border-radius: .5rem;
margin: 0 auto 2.3rem auto;
width: 100%;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.punto_articulo_azul 
{background-image:linear-gradient(180deg, #007bff, #0000ff);
display: flex;
flex-direction: column;
color: #fff;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
position: relative;
align-self: center;
margin: 0 0 3rem 0;}

.punto_articulo_azul > h1, h2, h3, h4
{margin: 0;
    color: #fff;}
/*-----------------------------*//*-----------------------------*/ 
.header_index_blanco 
{background #000;
display: flex;
flex-direction: column;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
position: relative;
align-self: center;
margin: 0 0 0 0;}

.header_index_blanco > * 
{color: #007bff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.punto 
{max-width: 450px;
display: flex;
flex-direction: column;
justify-content: center;}

.punto > h3 
{color: #000;}
/*-----------------------------*//*-----------------------------*/ 
.cantico 
{text-align: center;
max-width: 500px;
align-self: center;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.contenedor_ultimas_publicaciones
{height: 100vh;
width: 100vw;
padding 1rem;
background-image:linear-gradient(180deg, #007bff, #0000ff);}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.pregunta_cuestionario
{display: flex;
    flex-direction: column;
    justify-content: center;
    background: #007bff;
box-sizing: border-box;
padding: 9rem 1rem 3rem 1rem;
border-radius: 1rem;
position: relative;
max-width: 300px;
box-shadow: .0 .25rem .5rem 0 #111;}
/*---------------------------------------*//*---------------------------------------*/
.pregunta_cuestionario > p
{color: #fff;
font-size: 1.75rem;
margin: 2rem 1.5rem;
font-family: Nunito-Black;}

.pregunta_cuestionario > label
{display: inline-block;
    font-family: Nunito-Regular;
    color: #fff;
font-size: 1.5rem;
margin: 1rem 1rem;
text-align: justify;
padding: 0 2rem;}

.etiqueta_pregunta_quiz
{background: #0000ff;
    box-shadow: 0 .25rem .25rem 0 #008;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-family: Nunito-Black;
    color: #fff;
    font-size: 1.5rem;
}


/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
@media (max-width: 450px) {
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
body
{margin: 0;
padding: 0;
width: 100vw;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
:root 
{--altoCabecera: 10vh;
--punto3AltoCabecera: 3vh;
--punto2AltoCabecera: 2vh;
--puntoCero2AltoCabecera: .2vh;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.cabecera
{display:flex;
flex-direction: row;
flex-wrap: wrap;
flex-shrink: 1;
margin: 0;
padding: 0;
align-items: center;
height: 6rem;
justify-content: space-between;
position: fixed;}

.espacio_cabecera
{height: 6rem;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.logo_superior
{display: flex;
    height: 6rem;
position: relative;
max-width: 75%;
margin: 0;
padding: 0;
align-items: center;}
/*---------------------------------------*//*---------------------------------------*/
#imagen_logo_superior
{height: 2.5rem;
position: relative;
bottom: -.5vh;
margin: 0;
padding: 0;}

#imagen_logo_superior > a
{margin: 0;
padding: 0;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.contenedor_icono_menu
{display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: var(--punto3AltoCabecera);
height: var(--punto3AltoCabecera);
border-radius: .5rem;
cursor: pointer;
padding: var(--puntoCero2AltoCabecera);
background: #fff;
margin: 0 5% 0 auto;}
/*---------------------------------------*//*---------------------------------------*/
.icono_menu
{width: 1.2rem;
height: .1rem;
border-radius: .1rem;
background: #007bff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.nav 
{display: none;}

.nav.active
{display: flex;
flex-direction: column;
position: absolute;
padding: 0;
margin: 0 0 0 auto;
top: 6rem;
left: 0;
right: 0;
background: rgba(0, 122, 200, .9);
width: 50vw;}
/*-----------------------------*//*-----------------------------*/
.nav_ul
{display: block;
width: 100%;
list-style-type: none;
cursor: pointer;
position: relative;
padding: 0;
margin: 0;
left: 0;}
/*---------------------------------------*//*---------------------------------------*/
li
{padding: 1rem 1rem;
    margin: 0;
border-top: solid 1px #fff;
width: 100%;
height: 4rem;}

li:hover
{background: #0000ff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
a 
{text-decoration: none;
color: #fff;
font-size: 1rem;

padding: 2rem 1rem;
margin: 0;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.bandeja_recursos
{display: none;
background: none;}

.bandeja_recursos.active
{display: flex;
flex-direction: column;
flex-wrap: wrap;
position: relative;
top: 0;
padding: 0;
margin: 0;
background: rgba(0, 122, 200, .5)}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.bandeja_ideal_y_relevante
{display: none;}

.bandeja_ideal_y_relevante.active
{display: flex;
flex-direction: row;
flex-wrap: wrap;
box-sizing: border-box;
position: relative;
top: 0;
left: 0;
overflow: scroll;
max-height: 30vh;
background: rgba(0, 50, 200, .5);}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar
{width: 5%;}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar-track
{background-color: #fff;}

.bandeja_ideal_y_relevante.active::-webkit-scrollbar-thumb
{background-color: #007bff;}
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
/*---------------------------------------*//*---------------------------------------*/
.portada_index {background: none;
background-size: cover;
height: 90vh;
width: 100vw;
margin: 10vh 0 0 0;
position: relative;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_desktop {display: none;}
/*-----------------------------*//*-----------------------------*/
.logo_frontal_mobil {
display: block;
background: none;
position: relative;
top: -10vh;}
/*-----------------------------*//*-----------------------------*/
#imagen_logo_frontal_mobil {
width: 40vh;
color: #000;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.portada
{display: flex;
flex-direction: column;
box-sizing: border-box;
height: 90vh;
width: 100vw;
justify-content: flex-start;
gap: 1vh;
align-items: center;
margin: 10vh auto 0 auto;
position: relative;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/  
.logo_central_portada
{display: flex;
background:#007bff;
width: 40vh;
height: 40vh;
border-radius: 50%;
justify-content: center;
align-self: center;
position: relative;}
/*-----------------------------*//*-----------------------------*/ 
#imagen_logo_central_portada
{width: 25vh;
align-self: center;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_1 
{color:#000;
text-align: center;
font-family: KaushanScript-Regular;
font-size: 8vh;}
/*-----------------------------*//*-----------------------------*/
.texto_logo_2
{color:#000;
font-family: KaushanScript-Regular;
font-size: 6.5vh;}
/*-----------------------------*//*-----------------------------*/ 
.texto_logo_3
{color:#000;
font-family: BebasNeue-Regular;
font-size: 3vh;
text-align: center;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
p,b,em,ul
{font-size: 1.6rem;
line-height: 2rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.bloque_informacion 
{display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: center;
align-items: center;
max-width: 500px;
height: 100vh;
background: #007bff;
padding: 4rem;
border-radius: 0;}

.bloque_informacion > h2
{color: #fff;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
.punto
{padding: 0 1.5rem;}
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
/*-----------------------------*//*-----------------------------*/
}









